/* Introoduction to z-index and stacking context */
/* The z-index property specifies the stack order of an element. An element with a greater stack order is always in front of an element with a lower stack order. */    
/* The stacking context is formed by an element in the following scenarios: */
/* 1. The root element of the document (HTML) */
/* 2. Positioned (absolutely or relatively) with a z-index value other than auto */
/* 3. Elements with opacity less than 1 */
/* 4. Elements with a transform property value other than none */
/* 5. Elements with a mix-blend-mode value other than normal */
/* Example of stacking context */
/* The red box will be behind the blue box because it has a lower z-index value */
#sibling {
    position: absolute; /* This will make the width of the sibling element 100px (10% of the viewport width) */
    
    top:0; /* This will make the sibling element stick to the top of the viewport when it rea /* This will make the height of the sibling element 100px (10% of the viewport height) */
    background-color: lightgreen;
    z-index:0;
}

#child {
    position: sticky;
    top :0;
    z-index:1;
}

#parent {
    width: 500px;
    height: 500px;
    background-color: lightblue;
    font-size: 16px;
    z-index:2;
}

/* background image */
/* The background-image property sets one or more background images for an element. The images are drawn on top of the background-color set for the element. */ 
#parent {
    background-image : url("photo.jpg"); 
    /* This will set the background image of the parent element to "photo.jpg" but it will be drawn on top of the background-color also sized to fit */
}

/* background-size property */
/* The background-size property specifies the size of the background images for an element. The size can be specified in length units, percentage, or keywords. */
#parent {
    background-size: cover; /* This will make the background image cover the entire parent element */
}

/* contain property */
/* The background-size property specifies the size of the background images for an element. The size can be specified in length units, percentage, or keywords. it will repeat to fill the container */
#parent {
    background-size: contain; /* This will make the background image fit within the parent element */
}
/* background-repeat property */
/* The background-repeat property specifies how background images are repeated. The default value is repeat, which
means the background image will be repeated both vertically and horizontally. */
#parent {
    background-repeat: no-repeat; /* This will prevent the background image from repeating */
}
/* auto value */
/* In this case, the background image will be displayed at its original size. If the image is larger than the element, it will be clipped to fit the element. */
#parent {
    background-size: auto; /* This will display the background image at its original size */
} 